.container-custom-register {
  height: 800px;
  background-color: #e5e5e5;
}

.container-main-register {
  background: #ffffff;
  box-shadow: 0px 20px 20px rgba(126, 152, 223, 0.4);
  border-radius: 30px;
  height: 760px;
  width: 400px;
  padding: 40px;
  padding-top: 30px !important;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.container-main-register input {
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #bbbbbb !important;
}

.btn-custom-register {
  border: none;
  background-color: #7e98df;
  border-radius: 70px;
  color: white;
  width: 100%;
  height: 50px;
}

.btn-custom-google {
  background: #ffffff;
  border: 1px solid #7e98df;
  border-radius: 70px;
  width: 100%;
  height: 50px;
  color: #7e98df;
}
