.side-right-edit-profile{
    padding: 20px;
    background-color: rgb(236, 236, 236);
}

.side-right-edit-profile input {
    border: none;
    height: 50px;
    background-color: #7E98DF;
    border-radius: 15px !important;
    color: white;
    box-shadow: 2px 2px 5px rgb(138, 138, 138);
}

.button-save{
    background-color: white;
    border: none;
    height: 50px;
    width: 100%;
    color: #7E98DF;
    border-radius: 15px;
    border: 1px solid #7E98DF;
}

.input{
    display: none;
}